@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="/css/style.css">
<div>
    <h2>Donde la musica te elige a vos</h2>
    <p>Adentrate a ver nuestro catalogo</p>

    <a href='@Url.Action("SelectAlbum")'> Ver catalogo</a>
</div>
