@{
    ViewData["Title"] = "VerCatalogo";
}
<link rel="stylesheet" href="/css/style.css">
<div>
                <h2>Catalogo:</h2>
        <section>
         @{foreach(Album alb in ViewBag.Catalogo.Values){
        <div class= "album">
        <h3>@alb.nombre</h3>
        <img src= "~/img/@alb.foto" alt="Portada del album"/>
        <a href='@Url.Action("VerAlbum", new{id=alb.id})'><p> Ver mas información</p></a>
        </div>
    }

    }
    </section>
</div>


